:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(212, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    font-size: 18px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--dark-grayish-blue);
}

.header-img {
    position: absolute;
    z-index: -1;
}

/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}